<h1>Welcome to Awesome Town, population you!</h1>

<p>You can find out about heroes of Awesome town with this awesome app</p>

<!-- heroes_path is a rails URL helper. 'heroes' is the prefix that you link to _path in order to get to heroes#ind-->
<%= link_to 'See all heroes', heroes_path %>

