<h1>Eat & Drink in Cape Town!</h1>

<ul>
	<% @places.each do |place| %>
		<li>
			<strong><%= link_to place.name, place_path(place) %></strong>
			<%= link_to 'Edit', edit_place_path(place) %>
			<%= link_to "Delete", place_path(place), method: :delete, data: { confirm: "Are you sure you want to delte #{place.name}?"} %>
		</li>
	<% end %>
</ul>

<p><%= link_to "Add Place", new_place_path %></p>